<div style="text-align: center; font-size: 30px; margin-top: 10px; color: #fff;">
	<div style="text-align: center; margin-top: 30px;">
		<br/>
		<center>
		<img src="img/l3.png" width="80%">
		<h2 style="color:#847041;">INGRESA TU USUARIO</h2>
		</center>
		<div style="width: 100%; padding: 5px;">
				<p>
					<ons-input id="emailingreso" modifier="underbar" placeholder="Correo Electrónico *" style="width:80%;"></ons-input>
				</p>
				<p>
					<ons-input type="password" id="passwordingreso" modifier="underbar" placeholder="Contraseña *" style="width:80%;"></ons-input>
				</p>

				<center>
				<button onclick="LogginAPP()"  class="button--large button" data-disable-with="Enviar la solicitud" style="width:80%; margin-top:-30px;">Ingresar</button>
				<button class="button button--outline" onclick="GetIntro()" style="width:80%; margin-top:5px;">Regresar el Regsitro</button>
				</center>

		</div>
	</div>
</div>