<ons-navigator swipeable id="navigateINDEX" animation="slide" page="tutorial.html" animation-options="{duration: 0.2, delay: 0.1, timing: 'ease-in'}">

<template id="tutorial.html" >
  <ons-page>
  <div id="tutorialxfg"></div>  
  </ons-page>
</template>

<template id="loggin.html" >
  <ons-page>
  <div id="loginxfg"></div>  
  </ons-page>
</template>