<ons-splitter  >


    <ons-splitter-side id="menu" side="right" width="90%"  collapse swipeable style="width: 100%; height: 100vh; background: #5c666c; position: absolute; z-index: 99999999999999999999 !important;">

      <ons-page>
        <ons-if platform="android">

        <div style="width: 100%; height: 100vh; background: #5c666c; position: absolute; z-index: 99999999999999999999 !important;">
          <br/>
        <center>
        <img src="img/l2.png" width="60%">
      </center>
        <ons-list style="background: #5c666c; color:#fff;">
          <ons-list-item  style="color:#fff;" onclick="GetHome();" tappable>
            Inicio
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="DipFinder();" tappable>
            Conoce a tu diputado
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="Peticiones(window.localStorage.getItem('user'));" tappable>
            Mis Solicitudes
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="GetTrasmision();" tappable>
            En Vivo
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="GetTOrdersDay();" tappable>
           Orden del Día
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="changePage('mypetitions.html');" tappable>
            Tutorial
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="Privacidad();" tappable>
            Aviso de Privacidad
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="AyudaSoporte();" tappable>
            Ayuda y Soporte
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="CloseSESSion();" tappable>
            Cerrar sesión
          </ons-list-item>

            <center>
             <div style="margin-top: 20px;">
             <a onclick="cordova.InAppBrowser.open('https://www.facebook.com/hcongresopuebla/', '_system'); return false;" ><img src="img/fb.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://twitter.com/CongresoPue', '_system'); return false;"><img src="img/tr.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://www.instagram.com/congresodelestadodepuebla/', '_system'); return false;"><img src="img/ins.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://www.youtube.com/channel/UC_3biGcNq8hEPq_n8zG2OKg', '_system'); return false;"><img src="img/yt.png" width="40px;"> </a>
           </div>
           </center>

            <div style="bottom: 0px; position: absolute; text-align: right; width:100%;">
              V. 1.0.0 Android
            </div>

        </ons-list>
        </div>
        </ons-if>
        <ons-if platform="ios">

        <div style="width: 100%; height: 100vh; background: #5c666c; position: absolute; z-index: 99999999999999999999 !important; margin-top:-30px !important;">
          <br/><br/>
        <center>
        <img src="img/l2.png" width="60%">
      </center>
        <ons-list style="background: #5c666c; color:#fff;">
          <ons-list-item  style="color:#fff;" onclick="GetHome();" tappable>
            Inicio
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="DipFinder();" tappable>
            Conoce a tu diputado
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="Peticiones(window.localStorage.getItem('user'));" tappable>
            Mis Solicitudes
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="GetTrasmision();" tappable>
            En Vivo
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="GetTOrdersDay();" tappable>
           Orden del Día
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="changePage('mypetitions.html');" tappable>
            Tutorial
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="Privacidad();" tappable>
            Aviso de Privacidad
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="AyudaSoporte();" tappable>
            Ayuda y Soporte
          </ons-list-item>
          <ons-list-item style="color:#fff;" onclick="CloseSESSion();" tappable>
            Cerrar sesión
          </ons-list-item>

            <center>
             <div style="margin-top: 20px;">
             <a onclick="cordova.InAppBrowser.open('https://www.facebook.com/hcongresopuebla/', '_system'); return false;" ><img src="img/fb.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://twitter.com/CongresoPue', '_system'); return false;"><img src="img/tr.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://www.instagram.com/congresodelestadodepuebla/', '_system'); return false;"><img src="img/ins.png" width="40px;"> </a>
             <a onclick="cordova.InAppBrowser.open('https://www.youtube.com/channel/UC_3biGcNq8hEPq_n8zG2OKg', '_system'); return false;"><img src="img/yt.png" width="40px;"> </a>
           </div>
           </center>

            <div style="bottom: 0px; position: absolute; text-align: right; width:100%;">
              V. 1.0.0 IOS
            </div>

        </ons-list>
        </div>
        </ons-if>
      </ons-page>
    </ons-splitter-side>

    <ons-navigator swipeable id="navigateINDEX" animation="slide" page="home.html" animation-options="{duration: 0.2, delay: 0.1, timing: 'ease-in'}">
    </ons-navigator>
 
<ons-progress-bar value="0" id="progress"></ons-progress-bar>

<template id="home.html" >
  <ons-page>
  <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff;">
       &nbsp; &nbsp; Tus Diputados
      </div>
      <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
  </ons-toolbar>
  <div id="transmision"></div>  
  <div id="diputados" ></div>  
  </ons-page>
</template>

 <template id="mypetitions.html" >
  <ons-page>
    <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button > <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px; "> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
       Mis peticiones
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
  </ons-toolbar>
    <div id="peticiones"></div> 
  </ons-page> 
</template>



<template id="solicitud.html">
    <ons-page>
    <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Solicitudes
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
  </ons-toolbar>
    <div id="solicitud">
    </div>
  </ons-page>
</template>

<template id="profile.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"></ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Perfíl
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="perfil">
    </div>
  </ons-page>
</template>


<template id="propuestas.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Iniciativas
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="propuesta">
    </div>
  </ons-page>
</template>


<template id="propuesta.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Propuesta
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="leerpropuesta">
    </div>
  </ons-page>
</template>

<template id="ranking.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Desempeño Legislativo
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="ranking">
    </div>
  </ons-page>
</template>

<template id="acount.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Cuenta
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="cuenta">
    </div>
  </ons-page>
</template>

<template id="editacount.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Editar cuenta
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="Editar cuenta">
    </div>
  </ons-page>
</template>

<template id="transmisionx.html" >
  <ons-page>
      <ons-toolbar class="root-tool">

      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
       En vivo
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="transmisionx">
    </div>
  </ons-page>
</template>

<template id="peticion.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Peticion
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="peticionxgt">
    </div>
  </ons-page>
</template>


<template id="peticiones.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Mis Peticiones
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="peticionesxgt"></div>
  </ons-page>
</template>

<template id="findedip.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Encontrar Diputados
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="findedipxgt"></div>
  </ons-page>
</template>

<template id="privacidad.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Privacidad de la APP
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="privacidadxgt"></div>
  </ons-page>
</template>

<template id="soporte.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Ayuda y Soporte
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="soportexgt"></div>
  </ons-page>
</template>


<template id="ordenesdeldia.html" >
  <ons-page>
      <ons-toolbar class="root-tool">
      <div class="left" style="color:#fff !important;">
        <ons-back-button> <img src="img/icons-app/arrow_line2.png" width="20px" style="margin-top:10px; margin-left: 10px;"> </ons-back-button>
      </div>
      <div class="center" style="color:#fff !important;">
        Orden del Día
      </div>
       <div class="right" style="color:#fff !important;">
         <ons-toolbar-button onclick="OpenMenu()" style="color:#fff !important;">
          <img src="img/icons-app/burguer.png" width="40px" style="margin-top:5px;">
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <div id="ordenesdeldiaxgt"></div>
  </ons-page>
</template>



</ons-splitter>

    
