<div class="pull-left" style="width:100%;">
	<div style="height: 400px; oveflow:auto; text-align:justify; padding 10px;">
		<div class="card">
			<center>
			<h2 class="card__title" style="color:#847041;">{{nombres}} {{apellidos}}</h2>
			<p>{{peticion}}</p>
			<div class="card__content"><br/>{{created_at}}</div><br/>
			</center>
		</div>
	</div>
</div>