<ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
<ons-carousel-item style=" height: 100vh; background:#8d713c; background-size: 100% 100%; overflow:auto;">
<div class="head-carrousell">
      <br/>
      <center><img src="img/h0.png" width="100%"></center>
</div>
<div class="body-carrousell" >
      <br/><br/><br/>
      <center>
      <img src="img/r1.png" width="70%">
      </center>
      <br>
      <center>
      <p>Bienvenido a al Congreso del Estado de Puebla, en esta herramienta de vinculación conocerás los trabajos que se realizan en el poder legislativo y de tus diputadas y diputados. </p>
      <div class="circlerow list-item--tappable" style="bottom: 10px; position: absolute; left: 41%;" onclick="next()">&rarr;</div>
      </center>
</div>
</ons-carousel-item>
<ons-carousel-item style=" height: 100vh; background:#8d713c; background-size: 100% 100%; overflow:auto;" >
<div class="head-carrousell">
      <br/>
      <center><img src="img/h3.png" width="100%"></center>
</div>
<div class="body-carrousell" >
      <br/><br/><br/>
      <center>
      <img src="img/r2.png" width="70%">
      </center>
      <br>
      <center>
      <p>Podrás conocer los trabajos que realiza la LX legislatura, así como el desempeño de cada grupo parlamentario por partido.</p>
      <div class="circlerow list-item--tappable" style="bottom: 10px; position: absolute; left: 41%;"  onclick="next()">&rarr;</div>
      </center>
</div>
</ons-carousel-item>
<ons-carousel-item style=" height: 100vh; background:#8d713c; background-size: 100% 100%; overflow:auto;">
<div class="head-carrousell">
      <br/>
      <center><img src="img/h2.png" width="100%"></center>
</div>
<div class="body-carrousell" >
      <br/><br/><br/>
      <center>
      <img src="img/r3.png" width="70%">
      </center>
      <br>
      <center>
      <p>Genera solicitudes a tus diputados y gestiona directamente una petición o solicitud mediante un buzón, mira la sesiones en vivo y consulta el orden del día.</p>
      <div class="circlerow list-item--tappable" onclick="next()" style="bottom: 10px; position: absolute; left: 41%;" >&rarr;</div>
      </center>
</div>
</ons-carousel-item>
<ons-carousel-item style=" height: 100vh; background:#8d713c; background-size: 100% 100%; overflow:auto;">
<div class="head-carrousell">
      <br/>
      <center><img src="img/h1.png" width="100%"></center>
</div>
<div class="body-carrousell" >
      <br/><br/><br/>
      <center>
      <img src="img/r4.png" width="70%">
      </center>
      <br>
      <center>
      <p>Para poder conocer los trabajos legislativos que tus diputados realizan  necesitas darte de alta con unos simples pasos.</p>
      <div class="circlerow list-item--tappable" onclick="next()" style="bottom: 10px; position: absolute; left: 41%;" >&rarr;</div>
      </center>
</div>
</ons-carousel-item>
<ons-carousel-item style="background-color: #fff;  height: 100vh; overflow:auto;">
<div style="text-align: center; font-size: 30px; margin-top: 10px; color: #fff;">
      <div style="text-align: center; margin-top: 30px;">
            <center>
            <h2 style="color:#847041;">CREA TU USUARIO</h2>
            <p style="color: #000000; text-align: justify; font-size: 12px; padding: 15px; margin-top:10px;">Recuerda Guardar tu usuario y contraseña son las formas en las que ingresaras al sistema.</p>
            </center>
            <div style="width: 100%; padding: 5px; margin-top: -30px;">
                  <center>
                  <form enctype="multipart/form-data" id="form-action-register" accept-charset="UTF-8" method="post">
                        <p>
                              <ons-input id="nombre" modifier="underbar" placeholder="Nombre *" style="width:80%;"></ons-input>
                        </p>
                        <p>
                              <ons-input id="apellidos" modifier="underbar" placeholder="Apellidos *" style="width:80%;"></ons-input>
                        </p>
                        <p>
                              <ons-input id="email" modifier="underbar" placeholder="Correo Electrónico *" style="width:80%;"></ons-input>
                        </p>
                        <p>
                              <select name="municipio" class="select-input" id="municipio">
                                    <option value="">Selecciona tu municipio</option>
                                    <option value="1">Acajete</option>
                                    <option value="2">Acateno</option>
                                    <option value="3">Acatlan</option>
                                    <option value="4">Acatzingo</option>
                                    <option value="5">Acteopan</option>
                                    <option value="6">Ahuacatlan</option>
                                    <option value="7">Ahuatlan</option>
                                    <option value="8">Ahuazotepec</option>
                                    <option value="9">Ahuehuetitla</option>
                                    <option value="10">Ajalpan</option>
                                    <option value="11">Albino Zertuche</option>
                                    <option value="12">Aljojuca</option>
                                    <option value="13">Altepexi</option>
                                    <option value="14">Amixtlan</option>
                                    <option value="15">Amozoc</option>
                                    <option value="16">Aquixtla</option>
                                    <option value="17">Atempan</option>
                                    <option value="18">Atexcal</option>
                                    <option value="19">Atlixco</option>
                                    <option value="20">Atoyatempan</option>
                                    <option value="21">Atzala</option>
                                    <option value="22">Atzitzihuacan</option>
                                    <option value="23">Atzitzintla</option>
                                    <option value="24">Axutla</option>
                                    <option value="25">Ayotoxco de Guerrero</option>
                                    <option value="26">Calpan</option>
                                    <option value="27">Caltepec</option>
                                    <option value="28">Camocuautla</option>
                                    <option value="29">Cañada de Morelos</option>
                                    <option value="30">Caxhuacan</option>
                                    <option value="31">Coatepec</option>
                                    <option value="32">Coatzingo</option>
                                    <option value="33">Cohetzala</option>
                                    <option value="34">Cohuecan</option>
                                    <option value="35">Coronango</option>
                                    <option value="36">Coxcatlan</option>
                                    <option value="37">Coyomeapan</option>
                                    <option value="38">Coyotepec</option>
                                    <option value="39">Cuapiaxtla de Madero</option>
                                    <option value="40">Cuautempan</option>
                                    <option value="41">Cuautinchan</option>
                                    <option value="42">Cuautlancingo</option>
                                    <option value="43">Cuayuca de Andrade</option>
                                    <option value="44">Cuetzalan del Progreso</option>
                                    <option value="45">Cuyoaco</option>
                                    <option value="46">Chalchicomula de Sesma</option>
                                    <option value="47">Chapulco</option>
                                    <option value="48">Chiautla</option>
                                    <option value="49">Chiautzingo</option>
                                    <option value="50">Chiconcuautla</option>
                                    <option value="51">Chichiquila</option>
                                    <option value="52">Chietla</option>
                                    <option value="53">Chigmecatitlan</option>
                                    <option value="54">Chignahuapan</option>
                                    <option value="55">Chignautla</option>
                                    <option value="56">Chila</option>
                                    <option value="57">Chila de la Sal</option>
                                    <option value="58">Honey</option>
                                    <option value="59">Chilchotla</option>
                                    <option value="60">Chinantla</option>
                                    <option value="61">Domingo Arenas</option>
                                    <option value="62">Eloxochitlan</option>
                                    <option value="63">Epatlan</option>
                                    <option value="64">Esperanza</option>
                                    <option value="65">Francisco Z. Mena</option>
                                    <option value="66">General Felipe Angeles</option>
                                    <option value="67">Guadalupe</option>
                                    <option value="68">Guadalupe Victoria</option>
                                    <option value="69">Hermenegildo Galeana</option>
                                    <option value="70">Huaquechula</option>
                                    <option value="71">Huatlatlauca</option>
                                    <option value="72">Huauchinango</option>
                                    <option value="73">Huehuetla</option>
                                    <option value="74">Huehuetlan el Chico</option>
                                    <option value="75">Huehuetlan el Grande</option>
                                    <option value="76">Huejotzingo</option>
                                    <option value="77">Hueyapan</option>
                                    <option value="78">Hueytamalco</option>
                                    <option value="79">Hueytlalpan</option>
                                    <option value="80">Huitzilan de Serdan</option>
                                    <option value="81">Huitziltepec</option>
                                    <option value="82">Atlequizayan</option>
                                    <option value="83">Ixcamilpa de Guerrero</option>
                                    <option value="84">Ixcaquixtla</option>
                                    <option value="85">Ixtacamaxtitlan</option>
                                    <option value="86">Ixtepec</option>
                                    <option value="87">Izucar de Matamoros</option>
                                    <option value="88">Jalpan</option>
                                    <option value="89">Jolalpan</option>
                                    <option value="90">Jonotla</option>
                                    <option value="91">Jopala</option>
                                    <option value="92">Juan C. Bonilla</option>
                                    <option value="93">Juan Galindo</option>
                                    <option value="94">Juan N. Mendez</option>
                                    <option value="95">Lafragua</option>
                                    <option value="96">Libres</option>
                                    <option value="97">La Magdalena Tlatlauquitepec</option>
                                    <option value="98">Mazapiltepec de Juarez</option>
                                    <option value="99">Mixtla</option>
                                    <option value="100">Molcaxac</option>
                                    <option value="101">Naupan</option>
                                    <option value="102">Nauzontla</option>
                                    <option value="103">Nealtican</option>
                                    <option value="104">Nicolas Bravo</option>
                                    <option value="105">Nopalucan</option>
                                    <option value="106">Ocotepec</option>
                                    <option value="107">Ocoyucan</option>
                                    <option value="108">Olintla</option>
                                    <option value="109">Oriental</option>
                                    <option value="110">Pahuatlan</option>
                                    <option value="111">Palmar de Bravo</option>
                                    <option value="112">Pantepec</option>
                                    <option value="113">Petlalcingo</option>
                                    <option value="114">Piaxtla</option>
                                    <option value="115">Puebla</option>
                                    <option value="116">Quecholac</option>
                                    <option value="117">Quimixtlan</option>
                                    <option value="118">Rafael Lara Grajales</option>
                                    <option value="119">Los Reyes de Juarez</option>
                                    <option value="120">San Andres Cholula</option>
                                    <option value="121">San Antonio Cañada</option>
                                    <option value="122">San Diego la Mesa Tochimiltzingo</option>
                                    <option value="123">San Felipe Teotlalcingo</option>
                                    <option value="124">San Felipe Tepatlan</option>
                                    <option value="125">San Gabriel Chilac</option>
                                    <option value="126">San Gregorio Atzompa</option>
                                    <option value="127">San Jeronimo Tecuanipan</option>
                                    <option value="128">San Jeronimo Xayacatlan</option>
                                    <option value="129">San Jose Chiapa</option>
                                    <option value="130">San Jose Miahuatlan</option>
                                    <option value="131">San Juan Atenco</option>
                                    <option value="132">San Juan Atzompa</option>
                                    <option value="133">San Martin Texmelucan</option>
                                    <option value="134">San Martin Totoltepec</option>
                                    <option value="135">San Matias Tlalancaleca</option>
                                    <option value="136">San Miguel Ixitlan</option>
                                    <option value="137">San Miguel Xoxtla</option>
                                    <option value="138">San Nicolas Buenos Aires</option>
                                    <option value="139">San Nicolas de los Ranchos</option>
                                    <option value="140">San Pablo Anicano</option>
                                    <option value="141">San Pedro Cholula</option>
                                    <option value="142">San Pedro Yeloixtlahuaca</option>
                                    <option value="143">San Salvador el Seco</option>
                                    <option value="144">San Salvador el Verde</option>
                                    <option value="145">San Salvador Huixcolotla</option>
                                    <option value="146">Santa Catarina Tlaltempan</option>
                                    <option value="147">Santa Ines Ahuatempan</option>
                                    <option value="148">Santa Isabel Cholula</option>
                                    <option value="149">Santiago Miahuatlan</option>
                                    <option value="150">Santo Tomas Hueyotlipan</option>
                                    <option value="151">Soltepec</option>
                                    <option value="152">Tecali de Herrera</option>
                                    <option value="153">Tecamachalco</option>
                                    <option value="154">Tecomatlan</option>
                                    <option value="155">Tehuacan</option>
                                    <option value="156">Tehuitzingo</option>
                                    <option value="157">Tenampulco</option>
                                    <option value="158">Teopantlan</option>
                                    <option value="159">Teotlalco</option>
                                    <option value="160">Tepanco de Lopez</option>
                                    <option value="161">Tepango de Rodriguez</option>
                                    <option value="162">Tepatlaxco de Hidalgo</option>
                                    <option value="163">Tepeaca</option>
                                    <option value="164">Tepemaxalco</option>
                                    <option value="165">Tepeojuma</option>
                                    <option value="166">Tepetzintla</option>
                                    <option value="167">Tepexco</option>
                                    <option value="168">Tepexi de Rodriguez</option>
                                    <option value="169">Tepeyahualco</option>
                                    <option value="170">Tepeyahualco de Cuauhtemoc</option>
                                    <option value="171">Tetela de Ocampo</option>
                                    <option value="172">Teteles de Avila Castillo</option>
                                    <option value="173">Teziutlan</option>
                                    <option value="174">Tianguismanalco</option>
                                    <option value="175">Tilapa</option>
                                    <option value="176">Tlacotepec de Benito Juarez</option>
                                    <option value="177">San Sebastian Tlacotepec</option>
                                    <option value="178">Tlacuilotepec</option>
                                    <option value="179">Tlachichuca</option>
                                    <option value="180">Tlahuapan</option>
                                    <option value="181">Tlaltenango</option>
                                    <option value="182">Tlanepantla</option>
                                    <option value="183">Tlaola</option>
                                    <option value="184">Tlapacoya</option>
                                    <option value="185">Tlapanala</option>
                                    <option value="186">Tlatlauquitepec</option>
                                    <option value="187">Tlaxco</option>
                                    <option value="188">Tochimilco</option>
                                    <option value="189">Tochtepec</option>
                                    <option value="190">Totoltepec de Guerrero</option>
                                    <option value="191">Tulcingo</option>
                                    <option value="192">Tuzamapan de Galeana</option>
                                    <option value="193">Tzicatlacoyan</option>
                                    <option value="194">Venustiano Carranza</option>
                                    <option value="195">Vicente Guerrero</option>
                                    <option value="196">Xayacatlan de Bravo</option>
                                    <option value="197">Xicotepec</option>
                                    <option value="198">Xicotlan</option>
                                    <option value="199">Xiutetelco</option>
                                    <option value="200">Xochiapulco</option>
                                    <option value="201">Xochiltepec</option>
                                    <option value="202">Xochitlan de Vicente Suarez</option>
                                    <option value="203">Xochitlan Todos Santos</option>
                                    <option value="204">Yaonahuac</option>
                                    <option value="205">Yehualtepec</option>
                                    <option value="206">Zacapala</option>
                                    <option value="207">Zacapoaxtla</option>
                                    <option value="208">Zacatlan</option>
                                    <option value="209">Zapotitlan</option>
                                    <option value="210">Zapotitlan de Mendez</option>
                                    <option value="211">Zaragoza</option>
                                    <option value="212">Zautla</option>
                                    <option value="213">Zihuateutla</option>
                                    <option value="214">Zinacatepec</option>
                                    <option value="215">Zongozotla</option>
                                    <option value="216">Zoquiapan</option>
                                    <option value="217">Zoquitlan</option>
                              </select>
                        </p>
                        <p>
                              <ons-input type="password" id="password" modifier="underbar" placeholder="Contraseña *" style="width:80%;"></ons-input>
                        </p>
                        </center>
                        <p style="color: #000000; text-align: justify; font-size: 18px; padding: 30px; margin-top:-30px;">Al dar click en "Generar e Ingresar" usted esta aceptando los <a style="color:#8d713c;">Términos y Condiciones</a> de la aplicación asi como, nuestra <a style="color:#8d713c;">Política de Privacidad</a> de datos.</p>
                        
                        <center>
                        <button onclick="RegisterINC()"  class="button--large button" data-disable-with="Enviar la solicitud" style="width:80%; margin-top:-30px;">Genear e Ingresar</button>
                        <button class="button button--outline" onclick="Loggin()" style="width:80%; margin-top:5px;">Ya tengo una cuenta</button>
                        </center>
                  </div>
            </form>
      </div>
</div>
</ons-carousel-item>
</ons-carousel>
<script type="text/javascript">
var prev = function() {
var carousel = document.getElementById('carousel');
carousel.prev();
};
var next = function() {
var carousel = document.getElementById('carousel');
carousel.next();
};
ons.ready(function() {
var carousel = document.addEventListener('postchange', function(event) {
console.log('Changed to ' + event.activeIndex)
});
});
</script>