.circular-img{
	width: 150px;
	height: 150px;
	border: solid #bd8e2e 0px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

}

.justify-text{
	text-align: justify;
}

.circle{
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: 110px;
    margin-left: 58%;
	z-index: 99999;
	position: absolute;

}

.MORENA {
	background: rgba(194,31,58,1);
}

.PAN{
	background: rgba(31,110,194,1);
	}

.PRD{
	background: rgba(254,182,69,1);
	}

.MOVIMIENTO{
	background: rgba(232,125,54,1);
	}
.PRI{
	background: rgba(51,171,44,1);
	}
.ALIANZA{
	background: rgba(44,163,171,1);
	}
.INDEPENDIENTE{
	background: rgba(107,107,107,1);
	}

.root-tool{
	background:#9497a0 !important;
	color: #fff !important;
	text-transform: uppercase;

}

.card{
	background: #fff !important;
	border: none;
	width: 100% !important;
	height: auto;
	left: 0px;
	margin: 0px !important; 
	padding: 0px;

}

.axdiv-card{
	background: #f1f2f1 !important;
	padding: 10px;
	color: #727372 !important;
}
